<div style="margin-left: auto; margin-right: auto">
  <p id="categoryFeedback"></p>
</div>
<div>
  <h1>{{ "TITLES.catForm" | translate }}</h1>
  <form
    *ngIf="categoryForm"
    [formGroup]="categoryForm"
    (ngSubmit)="saveCategory()"
  >
    <div>
      <label for="title">{{ "CATS_ATTRIBUTES.title" | translate }}:</label>
      <input type="text" [formControl]="title" />

      <div *ngIf="title.errors">
        <div
          *ngIf="title.errors && isValidForm != null && !isValidForm"
          [ngClass]="'error'"
        >
          <div *ngIf="title.errors.required">
            {{ "FORM_ERRORS.required" | translate:{attribute: translations.title} }}
          </div>

          <div *ngIf="title.errors.maxlength">
            {{ "FORM_ERRORS.maxChars" | translate:{attribute: translations.title, numChars: 55} }}
          </div>
        </div>
      </div>
    </div>

    <div>
      <label for="description">{{ "POST_ATTRIBUTES.description" | translate }}:</label>
      <input type="text" [formControl]="description" />

      <div *ngIf="description.errors">
        <div
          *ngIf="description.errors && isValidForm != null && !isValidForm"
          [ngClass]="'error'"
        >
          <div *ngIf="description.errors.required">
            {{ "FORM_ERRORS.required" | translate:{attribute: translations.description} }}
          </div>

          <div *ngIf="description.errors.maxlength">
            {{ "FORM_ERRORS.maxChars" | translate:{attribute: translations.description, numChars: 255} }}
          </div>
        </div>
      </div>
    </div>

    <div>
      <label for="description">{{ "CATS_ATTRIBUTES.cssColor" | translate }}:</label>
      <input type="text" [formControl]="css_color" />

      <div *ngIf="css_color.errors">
        <div
          *ngIf="css_color.errors && isValidForm != null && !isValidForm"
          [ngClass]="'error'"
        >
          <div *ngIf="css_color.errors.required">
            {{ "FORM_ERRORS.required" | translate:{attribute: translations.cssColor} }}
          </div>

          <div *ngIf="css_color.errors.maxlength">
            {{ "FORM_ERRORS.maxChars" | translate:{attribute: translations.cssColor, numChars: 7} }}
          </div>
        </div>
      </div>
    </div>

    <button type="submit">SAVE</button>
  </form>
</div>
