<div style="margin-left: auto; margin-right: auto">
  <p id="registerFeedback"></p>
</div>
<div>
  <h1>{{ "TITLES.register" | translate }}</h1>

  <!-- TODO 18 -->

  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div>
      <label for="name">{{ "LOGIN_REGISTER_PROFILE.name" | translate }}: </label>
      <input type="text" name="name" [formControl]="name">

      <div class="errors" *ngIf="(isValidForm === false) && name.errors && name.touched">
        <span *ngIf="name.errors?.['required']">
          {{ "FORM_ERRORS.required" | translate:{attribute: translations.name} }}
        </span>

        <span *ngIf="name.errors?.['minlength'] || name.errors?.['maxlength']">
          {{ "FORM_ERRORS.rangeChars" | translate:{attribute: translations.name, min: 5, max: 25} }}
        </span>
      </div>
    </div>

    <div>
      <label for="surname_1">{{ "LOGIN_REGISTER_PROFILE.surname1" | translate }}: </label>
      <input type="text" name="surname_1" [formControl]="surname_1">

      <div class="errors" *ngIf="(isValidForm === false) && surname_1.errors && surname_1.touched">
        <span *ngIf="surname_1.errors?.['required']">
          {{ "FORM_ERRORS.required" | translate:{attribute: translations.surname1} }}
        </span>

        <span *ngIf="surname_1.errors?.['minlength'] || surname_1.errors?.['maxlength']">
          {{ "FORM_ERRORS.rangeChars" | translate:{attribute: translations.surname1, min: 5, max: 25} }}
        </span>
      </div>
    </div>

    <div>
      <label for="surname_2">{{ "LOGIN_REGISTER_PROFILE.surname2" | translate }}: </label>
      <input type="text" name="surname_2" [formControl]="surname_2">

      <div class="errors" *ngIf="(isValidForm === false) && surname_2.errors && surname_2.touched">
        <span *ngIf="surname_2.errors?.['minlength'] || surname_2.errors?.['maxlength']">
          {{ "FORM_ERRORS.rangeChars" | translate:{attribute: translations.surname2, min: 5, max: 25} }}
        </span>
      </div>
    </div>

    <div>
      <label for="alias">{{ "LOGIN_REGISTER_PROFILE.alias" | translate }}: </label>
      <input type="text" name="alias" [formControl]="alias">

      <div class="errors" *ngIf="(isValidForm === false) && alias.errors && alias.touched">
        <span *ngIf="alias.errors?.['required']">
          {{ "FORM_ERRORS.required" | translate:{attribute: translations.alias} }}
        </span>

        <span *ngIf="alias.errors?.['minlength'] || alias.errors?.['maxlength']">
          {{ "FORM_ERRORS.rangeChars" | translate:{attribute: translations.alias, min: 5, max: 25} }}
        </span>
      </div>
    </div>

    <div>
      <label for="birth_date">{{ "LOGIN_REGISTER_PROFILE.birth_date" | translate }}: </label>
      <input type="date" name="birth_date" [formControl]="birth_date">
    </div>

    <div>
      <label for="email">{{ "LOGIN_REGISTER_PROFILE.email" | translate }}</label>
      <input type="text" name="email" [formControl]="email">

      <div class="errors" *ngIf="(isValidForm === false) && email.errors && email.touched">
        <span *ngIf="email.errors?.['required']">
          {{ "FORM_ERRORS.required" | translate:{attribute: translations.email} }}
        </span>

        <span *ngIf="email.errors?.['email']">
          {{ "FORM_ERRORS.notValid" | translate:{attribute: translations.email} }}
        </span>
      </div>
    </div>

    <div>
      <label for="password">{{ "LOGIN_REGISTER_PROFILE.password" | translate }}</label>
      <input type="password" name="password" [formControl]="password">

      <div class="errors" *ngIf="(isValidForm === false) && password.errors && password.touched">
        <span *ngIf="password.errors?.['required']">
          {{ "FORM_ERRORS.required" | translate:{attribute: translations.password} }}
        </span>

        <span *ngIf="password.errors?.['minlength'] || password.errors?.['maxlength']">
          {{ "FORM_ERRORS.rangeChars" | translate:{attribute: translations.password, min: 8, max: 16} }}
        </span>
      </div>
    </div>

    <button type="submit">{{ "BUTTONS.register" | translate }}</button>
  </form>
</div>