<p>header works!</p>

<!-- NO AUTH REQUIRED -->
<div *ngIf="showNoAuthSection">
  <button (click)="home()">{{ "HEADER.home" | translate }}</button>
  <button (click)="login()">{{ "HEADER.login" | translate }}</button>
  <button (click)="register()">{{ "HEADER.register" | translate }}</button>
  <button (click)="dashboard()">{{ "HEADER.dashboard" | translate }}</button>
  <button (click)="switchLanguage()">{{ "HEADER.language" | translate }}</button>
</div>

<!-- AUTH REQUIRED -->
<div *ngIf="showAuthSection">
  <button (click)="home()">{{ "HEADER.home" | translate }}</button>
  <button (click)="adminPosts()">{{ "HEADER.adminPosts" | translate }}</button>
  <button (click)="adminCategories()">{{ "HEADER.adminCats" | translate }}</button>
  <button (click)="profile()">{{ "HEADER.profile" | translate }}</button>
  <button (click)="logout()">{{ "HEADER.logout" | translate }}</button>
  <button (click)="dashboard()">{{ "HEADER.dashboard" | translate }}</button>
  <button (click)="switchLanguage()">{{ "HEADER.language" | translate }}</button>
</div>
