<!-- TODO 3 -->
<div class="container">
    <form [formGroup]="filterForm" (ngSubmit)="applyFilters()">
        <div class="title">
            <label for="title">{{ "POST_ATTRIBUTES.title" | translate }}:</label>
            <input type="text" name="title" [formControl]="titleFilter">
        </div>

        <div class="description">
            <label for="description">{{ "POST_ATTRIBUTES.description" | translate }}: </label>
            <input type="text" name="description" [formControl]="descriptionFilter">
        </div>

        <div class="publication_date">
            <label for="publication_date">{{ "POST_ATTRIBUTES.publication" | translate }}: </label>
            <input type="date" name="publication_date" [formControl]="publicationDateFilter">
        </div>

        <div class="alias">
            <label for="alias">{{ "POST_ATTRIBUTES.alias" | translate }}: </label>
            <input type="text" name="alias" [formControl]="aliasFilter">
        </div>

        <div class="category">
            <label for="category">{{ "POST_ATTRIBUTES.categories" | translate }}: </label>
            <select multiple name="category" [formControl]="categoriesFilter">
              <option 
                *ngFor="let category of allCategories"
                [value]="category.categoryId"
              >
                {{ category.title }}
              </option>
            </select>
          </div>

        <button type="submit">{{ "BUTTONS.filter" | translate }}</button>
    </form>

    <div class="post" *ngFor="let post of posts">
        <h2>{{ "POST_ATTRIBUTES.title" | translate }}: {{ post.title }}</h2>
        <p>{{ "POST_ATTRIBUTES.description" | translate }}: {{ post.description }}</p>
        <p>{{ "POST_ATTRIBUTES.publication" | translate }}: {{ post.publication_date | formatDate: 3 }}</p>
        <p>{{ "POST_ATTRIBUTES.published" | translate }}: {{ post.userAlias }}</p>

        <div class="categories">
            <span
                *ngFor="let category of post.categories"
                [ngStyle]="{ 'background-color': category.css_color }"
            >
                {{ category.title }}
            </span>
        </div>

        <div class="likes-dislikes" *ngIf="showButtons">
            <div class="likes" (click)="like(post.postId)">
                <button>{{ "BUTTONS.like" | translate }}</button>
                <p>{{ post.num_likes }}</p>
            </div>
    
            <div class="dislikes" (click)="dislike(post.postId)">
                <button>{{ "BUTTONS.dislike" | translate }}</button>
                <p>{{ post.num_dislikes }}</p>
            </div>
        </div>

        <hr>
    </div>
</div>
