<!-- TODO 3 -->
<div class="container">
    <form [formGroup]="filterForm" (ngSubmit)="applyFilters()">
        <div class="title">
            <label for="title">Title: </label>
            <input type="text" name="title" [formControl]="titleFilter">
        </div>

        <div class="description">
            <label for="description">Description: </label>
            <input type="text" name="description" [formControl]="descriptionFilter">
        </div>

        <div class="publication_date">
            <label for="publication_date">Publication date: </label>
            <input type="date" name="publication_date" [formControl]="publicationDateFilter">
        </div>

        <div class="alias">
            <label for="alias">Alias: </label>
            <input type="text" name="alias" [formControl]="aliasFilter">
        </div>

        <div class="category">
            <label for="category">Categories: </label>
            <select multiple name="category" [formControl]="categoriesFilter">
              <option 
                *ngFor="let category of allCategories"
                [value]="category.categoryId"
              >
                {{ category.title }}
              </option>
            </select>
          </div>

        <button type="submit">Apply filters</button>
    </form>

    <div class="post" *ngFor="let post of posts">
        <h2>Title: {{ post.title }}</h2>
        <p>Description: {{ post.description }}</p>
        <p>Publication date: {{ post.publication_date | formatDate: 3 }}</p>
        <p>Published by: {{ post.userAlias }}</p>

        <div class="categories">
            <span
                *ngFor="let category of post.categories"
                [ngStyle]="{ 'background-color': category.css_color }"
            >
                {{ category.title }}
            </span>
        </div>

        <div class="likes-dislikes" *ngIf="showButtons">
            <div class="likes" (click)="like(post.postId)">
                <button>Like</button>
                <p>{{ post.num_likes }}</p>
            </div>
    
            <div class="dislikes" (click)="dislike(post.postId)">
                <button>Dislike</button>
                <p>{{ post.num_dislikes }}</p>
            </div>
        </div>

        <hr>
    </div>
</div>
