<!-- TODO 3 -->
<div class="container">
    <div class="post" *ngFor="let post of posts">
        <h2>{{ post.title }}</h2>
        <p>{{ post.description }}</p>
        <p>{{ post.publication_date | formatDate: 4 }}</p>

        <div class="categories">
            <span
                *ngFor="let category of post.categories"
                [ngStyle]="{ 'background-color': category.css_color }"
            >
                {{ category.title }}
            </span>
        </div>

        <div class="likes-dislikes" *ngIf="showButtons">
            <div class="likes" (click)="like(post.postId)">
                <button>Like</button>
                <p>{{ post.num_likes }}</p>
            </div>
    
            <div class="dislikes" (click)="dislike(post.postId)">
                <button>Dislike</button>
                <p>{{ post.num_dislikes }}</p>
            </div>
        </div>

        <hr>
    </div>
</div>
