<h2>{{ "TITLES.catList" | translate }}</h2>
<button (click)="createCategory()">{{ "BUTTONS.addCat" | translate }}</button>

<table>
  <thead>
    <tr>
      <th>{{ "CATS_ATTRIBUTES.id" | translate }}</th>
      <th>{{ "CATS_ATTRIBUTES.title" | translate }}</th>
      <th>{{ "CATS_ATTRIBUTES.description" | translate }}</th>
      <th>{{ "CATS_ATTRIBUTES.cssColor" | translate }}</th>
      <th>{{ "CATS_ATTRIBUTES.actions" | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
      <td>{{ category.categoryId }}</td>
      <td>{{ category.title }}</td>
      <td>{{ category.description }}</td>
      <td>{{ category.css_color }}</td>
      <td>
        <button (click)="updateCategory(category.categoryId)">{{ "BUTTONS.update" | translate }}</button>
        <button (click)="deleteCategory(category.categoryId)">{{ "BUTTONS.delete" | translate }}</button>
      </td>
    </tr>
  </tbody>
</table>