<h2>{{ "TITLES.postList" | translate }}</h2>

<!-- TODO 11 -->

<button (click)="createPost()">{{ "BUTTONS.addPost" | translate }}</button>

<table>
  <thead>
    <tr>
      <th>{{ "POST_ATTRIBUTES.id" | translate }}</th>
      <th>{{ "POST_ATTRIBUTES.title" | translate }}</th>
      <th>{{ "POST_ATTRIBUTES.description" | translate }}</th>
      <th>{{ "POST_ATTRIBUTES.numLikes" | translate }}</th>
      <th>{{ "POST_ATTRIBUTES.numDislikes" | translate }}</th>
      <th>{{ "POST_ATTRIBUTES.actions" | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td>{{ post.postId }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.description }}</td>
      <td>{{ post.num_likes }}</td>
      <td>{{ post.num_dislikes }}</td>
      <td>
        <button (click)="updatePost(post.postId)">{{ "BUTTONS.update" | translate }}</button>
        <button (click)="deletePost(post.postId)">{{ "BUTTONS.delete" | translate }}</button>
      </td>
    </tr>
  </tbody>
</table>
