<div style="margin-left: auto; margin-right: auto">
  <p id="postFeedback"></p>
</div>
<div>
  <!-- TODO 14 -->

  <h1>{{ "TITLES.postForm" | translate }}</h1>
  <form
    *ngIf="postForm"
    [formGroup]="postForm"
    (ngSubmit)="savePost()"
  >
    <div>
      <label for="title">{{ "POST_ATTRIBUTES.title" | translate }}:</label>
      <input type="text" [formControl]="title" />

      <div *ngIf="title.errors">
        <div
          *ngIf="title.errors && isValidForm != null && !isValidForm"
          [ngClass]="'error'"
        >
          <div *ngIf="title.errors.required">
            {{ "FORM_ERRORS.required" | translate:{attribute: translations.title} }}
          </div>

          <div *ngIf="title.errors.maxlength">
            {{ "FORM_ERRORS.maxChars" | translate:{attribute: translations.title, numChars: 55} }}
          </div>
        </div>
      </div>
    </div>

    <div>
      <label for="description">{{ "POST_ATTRIBUTES.description" | translate }}:</label>
      <input type="text" [formControl]="description" />

      <div *ngIf="description.errors">
        <div
          *ngIf="description.errors && isValidForm != null && !isValidForm"
          [ngClass]="'error'"
        >
          <div *ngIf="description.errors.required">
            {{ "FORM_ERRORS.required" | translate:{attribute: translations.description} }}
          </div>

          <div *ngIf="description.errors.maxlength">
            {{ "FORM_ERRORS.maxChars" | translate:{attribute: translations.description, numChars: 255} }}
          </div>
        </div>
      </div>
    </div>

    <div>
      <label for="publication_date">{{ "POST_ATTRIBUTES.publication" | translate }}:</label>
      <input type="date" [formControl]="publication_date" />
    </div>

    <div>
      <label for="category">{{ "POST_ATTRIBUTES.categories" | translate }}: </label>
      <select multiple name="category" [formControl]="categories">
        <option 
          *ngFor="let category of userCategories"
          [value]="category.categoryId"
        >
          {{ category.title }}
        </option>
      </select>
    </div>

    <button type="submit">{{ "BUTTONS.save" | translate }}</button>
  </form>
</div>
